<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideMenuOverlapNavigationBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>411F48381DC1D06200BFB0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>411F484C1DC1D06200BFB0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>411F48571DC1D06200BFB0BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
